.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    gap: 10px;

    h1, p {
        padding: 0;
        margin: 0;
    }
}

.cart-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.boarding-pass {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.boarding-pass>* {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}


.cart-summary {
    flex: 1;
    background-color: var(--booking-light);
}

.dark .cart-summary {
    background-color: var(--booking-dark);
}


.departure-card, .return-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    >* {
        width: 90%;
    }
}

.flight-name {
    text-align: center;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid;
    padding: 20px;
    >* {
        width: 80%;
    }
}

.dark .total-price>* {
    color: var(--light)
}

.change-flight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.summary-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.summary-item {
    flex: 3;
}

.total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3px;
}

.total-price > button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
}

.summary-header {
    text-align: center;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    >* {
        margin: 0 5rem;
    }
}

@media (max-width: 1300px) {
    .boarding-pass {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .cart-content {
        width: 88%;
    }
}

@media (max-width: 768px) {
    .cart-summary p {
        font-size: 0.9rem;
    }
    .summary-content {
        flex-direction: column;
        gap: 30px;
    }
    .summary-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        >* {
            flex: 1;
        }
    }
    .cart-content {
        width: 95%;

    }

    .cart-content p {
        font-size: 0.9rem
    }
}

@media (max-width: 600px) {
    .card-container {
        width: 98%;
    }
}