
.subscribeContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--dark);
    background-image: url('https://izitour.com/media/imglib/nha-trang-tru-beach-1.webp');
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.subscribeContainer.dark {
    border: 2px solid var(--light);
}

.subscribeContainer > h1 {
    margin-left: 10%;
    width: 30%;
    text-align: center;
}

.subscribe {
    width: 50%;
    margin-right: 10%;
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    padding: 1rem 0;
    opacity: 0.8;
}

.form-wrapper.subscribe>input {
    width: 50%;
}

.subscribe.dark {
    background-color: var(--dark);
}

@media screen and (max-width: 1024px) {
    .subscribeContainer {
        flex-direction: column;
        justify-content: center;
        gap: 10%;
        height: 400px;
    }

    .subscribe {
        width: 60%;
        margin: 0;
    }

    .subscribeContainer > h1 {
        margin: 0;
        width: 100%;
    }

    .form-wrapper.subscribe>input {
        width: 70%;
    }
}