.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form>.inner {
    width: 66%;
    margin: auto;
    background: url('../../assets/images/authenticationbackground.jpg') no-repeat;
    background-size: cover;
}

.form form {
    width: 40%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form form h1 {
    text-align: center;
    font-size: 2rem;
}

.name-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.name-grid>.form-wrapper {
    width: 45%;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper>label, .form-wrapper>input, .form-wrapper>select {
    font-size: 1rem;
}

.form-wrapper>input, .form-wrapper>select {
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 3px solid;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.form-wrapper>input:focus, .form-wrapper>select:focus {
    border-bottom-color: #FF7043;
}


.switch {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.switch a {
    text-decoration: none;
}

input, select, optgroup {

}

.dark input, .dark select, .dark optgroup {
    color: var(--light);
}

.dark optgroup {
    background-color: var(--dark);
}
