.traveler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.traveler {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
}

.form.customer-data {
    display: flex;
    flex-direction: column;
}

.form.customer-data form {
    display: flex;
    flex-direction: column;
}

.form.customer-data form > * {
    margin-bottom: 20px;
}

.form.customer-data input[type="checkbox"] {
    margin-right: 10px;
}