.career {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--dark);
    border-radius: 15px;
    width: 80%;
    height: 200px;
}

.benefits {
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid var(--dark);
}

.benefits > div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits > div:not(:first-child) {
    border-left: 2px solid var(--dark);
}

.benefit {
    display: flex;
    width: 100%;
}

.available-jobs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.job-finder {
    display: flex;
    width: 100%;
    height : 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background-color: var(--dark);*/
    border: 2px solid var(--dark);
}

.job-finder > div {
    width: 42%;
    margin: 7px;
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-finder input {
    width: 100%;
    height: 100%;
}

.job-finder ul {
    display: none;
}

.job-finder button {
    margin: 10px;
    width: 100px;
    height: 50%;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
}

.job-container {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--dark);
    border-radius: 15px;
    height: 150px;
}


.job-container button {
    width: 20%;
    height: 10%;
    align-self: center;
}
