.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-group > * {
    flex: 1;
}

.search-form>button {
    padding: 10px 20px;
}

.error-msg {
    color: red;
    font-size: 1rem;
    text-align: center;
}