.discountContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.discount {
    border: 2px solid var(--dark);
    border-radius: 20px;
    position: relative;
    color: var(--light);
    overflow: hidden;
}

.discount > div:nth-child(2) > div {
    text-decoration: underline;
    cursor: pointer;
}

.discount:hover > div:nth-child(1) {
    transform: scale(1.2);
}

.discount:hover > div:nth-child(2) > div {
    transform: translateY(-10px);
    opacity: 1;
}

.discount:hover p {
    transform: translateY(-20px);
}

.discount.dark {
    border: 2px solid var(--light);
}

.discount > div:nth-child(1) {
    width: 100%;
    height: 100%;
    filter: brightness(0.75);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.discount > div:nth-child(2) {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.discount p {
    width: 100%;
    font-size: 1.2rem;
    margin: 7px;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease;
}

.discount > div:nth-child(2) > div {
    color: var(--light);
    font-size: 0.9rem;
    margin: 7px;
    position: absolute;
    bottom: -14px;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.discount:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

.discount:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5;
}

.details-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.details-container > div:first-child {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    opacity: 0.5;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 40%;
    min-width: 350px;
    height: 75%;
    background-color: var(--light);
    border-radius: 15px;
    color: var(--dark);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.details > div:first-child {
    width: 80%;
    height: 50%;
    background: center no-repeat;
    background-size: cover;
    margin-top: 10%;
}

.details > div:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}

.details > div:nth-child(3) {
    padding: 1rem;
}

.details > div:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.details > div:last-child > div, .details > div:last-child > a {
    width: 30%;
    height: 30px;
    background-color: var(--button-active);
    border-radius: 10px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.details > div:last-child > div:hover, .details > div:last-child > a:hover {
    background-color: var(--button-hover);
}

@media screen and (max-width: 1024px) {
    .discountContainer {
        display: flex;
        flex-direction: column;
        height: 120vh;
    }

    .discount {
        width: 100%;
        height: 25%;
    }
}