.passenger-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 85%;
}

.passenger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid;
    flex: 1;
}

.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 5px;
}

.passenger-button {
    margin: 0 1rem;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.passenger-button:hover {
    transform: scale(1.1);
}

.passenger-button:active {
    transform: scale(1);
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.info span {
    font-size: 1rem;
}

.number>span {
    font-size: 1.3rem;
}

.passenger>button>svg {
    margin: 0;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    width: 60%;
    >* {
        flex: 1;
    }
}

.passenger-container > .passenger {
    background-color: #ff7f50;
}

.dark .passenger-container > .passenger {
    background-color: #1e2a3a;
}

@media (max-width: 1024px) {
    .passenger-container {
        flex-direction: column;
        width: 70%;
    }
    .number {
        font-size: 1.1rem;
    }

    .info span {
        font-size: 0.95rem;
    }
    .suggestions-airport-container {
        width: 250%;
    }
}

@media (max-width: 768px) {
    .number {
        font-size: 1rem;
    }

    .info span {
        font-size: 0.9rem;
    }
    .suggestions-airport-container {
        width: 150%;
    }
}
