.about-content > a {
    margin-top: 50px;
}

.about-content > div {
    margin: 20px;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    border: none;
    transition: opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;
    position: relative;
}

.about-content:hover > div {
    opacity: 1;
}

.about-content > div > div:first-child {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    opacity: 0.7;
}

.about-content > div > div:nth-child(2) {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 10%;
}