.card-container {
    border: 2px solid var(--dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    &:hover {
        border-color: red;
    }
}

.card-container.dark {
    border-color: var(--light);
    h1 {
        color: var(--card-text-dark)
    }
    p {
        color: var(--card-text-light)
    }
    &:hover {
        border-color: red;
    }
}

.card-container.dark .title>p {
    color: var(--card-text-dark);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.card-top {
    flex-direction: row;
    border-bottom: 2px dashed var(--card-seperate-light);
    background-color: var(--card-top-light);
}

.card-top.dark {
    background-color: var(--card-seperate-dark);
    border-bottom: 2px dashed var(--card-top-dark);
}

.card-bottom {
    flex-direction: column;
    background-color: #f0f0f0;
}

.card-bottom.dark {
    background-color: var(--card-bottom-dark);
}

.card>* {
    flex: 1;
}

.mid-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.mid-icon::before,
.mid-icon::after {
    content: '';
    flex: 1;
    border-bottom: 3px dotted;
    margin: 0;
    gap: 1px;
}

.mid-icon>span {
    padding: 0;
}

.dept-top, .dept-middle, .dept-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.dept-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-info {
    display: flex;
    flex-direction: row;
}

.card-divider {
    height: 20px;
    background: repeating-linear-gradient(
            90deg,
            var(--card-divider-light),
            var(--card-divider-light) 5px,
            transparent 5px,
            transparent 10px
    );
}

.card-divider.dark {
    background: repeating-linear-gradient(
            90deg,
            var(--card-divider-dark),
            var(--card-divider-dark) 5px,
            transparent 5px,
            transparent 10px
    );
}


.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.change-flight > * {
    margin: 0 30px;
}