.flight-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid;
    box-shadow: 0.8rem 0.8rem 0 0 #ffbd3e;
    background-color: var(--booking-light);
}

.dark .flight-card-container {
    background-color: var(--booking-dark);
}

.flight-card {
    display: flex;
    flex-direction: row;
}

.flight-type {
    padding: 10px;
    margin: 10px;
}

.flight-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 4;
}

.flight-info > * {
    flex: 1;
    text-align: center;
}

.flight-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.flight-price > .button {
    margin: 0 4rem;
}

.show .flight-price > .button {
    box-shadow: -2px -2px 0 0 white;
    background-color: #ffbd3e;
}

.show .flight-price > .button:hover {
    box-shadow: -4px -4px 0 0 white;
}

.flight-price-left {
    background-color: blue;
}


.dropdown-button {
    background-color: var(--button-active);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-button:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
}

.dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    padding: 15px;
}

.dropdown-option {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 20%;
    height: auto;
}

.dropdown-option:hover {
    border-color: var(--button-hover);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.dropdown-option:last-child {
    border-right: none;
}

.dropdown-option > .book-button {
    background-color: var(--button-active);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-option > .book-button:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
}

.dropdown-option > .book-button:active {
    transform: translateY(0);
}

.dropdown-option > span {
    font-weight: bold;
    font-style: italic;
}

.dropdown-option > h2, .dropdown-option>p {
    padding: 0;
    margin: 5px;
}

.flight-ticket {
    display: none;
}

.flight-ticket.show {
    display: block;
}

.seat-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seat-details>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.seat-details > * > strong {
    padding: 0 0 10px 0;
}

.seat-details > * > span {
    padding-left: 5px;
}