.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.dark .modal-content {
    background: var(--booking-dark);
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    background-color: var(--booking-dark);
    color: var(--light)
}

.dark .filter-group input, .dark .filter-group select {
    background-color: var(--booking-light);
    color: var(--dark);
}

.filter-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.filter-button > * {
    flex: 1;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
    cursor: pointer;
    background-color: var(--button-active);
}

.filter-button > *:hover {
    background-color: var(--button-hover);
}