.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking {
    border: 3px solid;
    box-shadow: 0.8rem 0.8rem 0 0 #ffbd3e;
    width: 80%;
    margin-top: 2rem;
    z-index: 1;
    background-color: var(--booking-light);
}

.booking.dark {
    background-color: var(--booking-dark);
}

.booking-form, .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ;
    gap: 20px;
}

.itinerary, .search {
    padding: 2rem;
}

.itinerary>h1, .search>h1 {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}

.itinerary form {
    display: flex;
    flex-direction: column;
}

form>.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

form>.info > * {
    flex: 1;
}

form>.info>.trip-arrow {
    flex: 0;
}

form>.info > .return-date {
    gap: 20px;
}

.itinerary .type {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.trip-button {
    color: black;
    border: 3px solid;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for box-shadow */
    flex: 1;
    margin-right: 10px;
    box-shadow: 2px 2px 0 0 #ffbd3e;
}

.trip-button:last-child {
    margin-right: 0;
}

.trip-button:hover {
    box-shadow: 4px 4px 0 0 #ffbd3e;
}

.trip-button.active {
    box-shadow: -2px -2px 0 0 white;
    background-color: #ffbd3e;
}

.trip-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0 10px;
}

.form-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-button-container {
    flex: 1;
}

.form-button {
    width: 100%;
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    padding: 20px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-button.active {
    background-color: var(--button-active);
}

.form-button:hover {
    background-color: var(--button-active);
}

.itinerary>.booking-form>.submit, .search>.search-form>.submit {
    padding: 10px 50px;

    &:hover {
        background-color: var(--button-active);
    }
}

span.trip-arrow {
    padding-top: 18px;
    color: var(--primary);
}