.posts {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 50vh;
    justify-content: center;
    margin-top: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

.posts .table-container {
    padding-bottom: 10px;
    width: 70%;
}

.posts table, 
.posts table td, 
.posts table th {
    border: 2px solid var(--dark);
    border-collapse: collapse;
}

.posts table.dark, 
.posts table.dark th, 
.posts table.dark td {
    border: 2px solid var(--light);
}

.posts caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.posts th:nth-child(3) {
    width: 15%;
    min-width: 100px;
}

.posts td:nth-child(4), 
.posts td:nth-child(5) {
    width: 20%;
    min-width: 150px;
}

.posts th:first-child, 
.posts th:nth-child(2) {
    width: 10%;
    min-width: 70px;
}

.posts th:last-child {
    min-width: 70px;
}

.posts tr > td:first-child {
    text-align: center;
}

.posts tr > td:not(:first-child) {
    padding-left: 0.5rem;
}

.posts-filter {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.posts .filters > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.posts .filters input,
.posts .filters select {
    margin-bottom: 1rem;
    color: var(--dark);
    width: 95%;
}

.posts-filter button {
    border: none;
    border-radius: 15px;
    background-color: var(--button-active);
    color: white;
    width: 90px;
    height: 30px;
    margin: 3px;
}

.posts-filter button:hover {
    background-color: var(--button-hover);
}

#add-Bt {
    width: 120px;
}

.posts .filters {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;
}

.posts .filters input:not(:last-child) {
    margin-bottom: 1rem;
}

.posts .add-post-window, .posts .delete-post-window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.posts .add-post-window > div:first-child, .posts .delete-post-window > div:first-child {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    opacity: 0.4;
}

.add-post-form {
    position: absolute;
    width: 350px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-post-form {
    position: absolute;
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts .input-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin-bottom: 2rem;
}

.add-post-form > div > input {
    height: 1.5rem;
    font-size: 1rem;
}

.add-post-form > div > input:not(:last-child) {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1224px) {
    .posts {
        flex-direction: column;
    }

    .posts .table-container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .posts .filters {
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .posts .filters > div {
        justify-content: center;
        align-items: center;
    }
}
