.dashboard {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    width: 80%;
    height: 100%;
    gap: 2rem;
}

.dashboard-item {
    border: 2px solid var(--dark);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dashboard-item > div:first-child {
    border-bottom: 2px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    background-color: var(--secondary);
    color: var(--light);
}

.dashboard-item > div:nth-child(2) {
    flex: 3;
}

.dashboard-item > div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-item a {
    text-decoration: none;
    color: var(--light);
    background-color: var(--button-active);
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.dashboard-item a:hover {
    background-color: var(--button-hover);
}

@media screen and (max-width: 1023px) {
    .dashboard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 599px) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}