.about {
    display: flex;
    flex-direction: column;
}

.about-content-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
}

.about-content-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: flex 0.5s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
}

.about-content-container > div.dark {
    border-top: 2px solid var(--light);
    border-bottom: 2px solid var(--light);
}

.about-content-container > div:hover {
    flex: 4;
}

.about-content-container > div:not(:first-child) {
    border-left: 2px solid var(--dark);
}

.about-content-container > div:not(:first-child).dark {
    border-left: 2px solid var(--light);
}

.specific-content {
    /*background-color: var(--dark);*/
    min-height: 100vh;
    width: 100%;
    display: none;
}

.about h1 {
    text-align: center;
}

.basic-info-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid var(--dark);
}

.basic-info.dark {
    border: 2px solid var(--light);
}

.about > div:last-child {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
    .basic-info-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-content-container {
        flex-direction: column;
        height: 100vh;
    }

    .about-content-container > div {
        width: 100%;
    }
}