
:root {
    --lightPrimary: #16ba5d;
    --darkPrimary: #ffd500;
    --lightBackground: white;
    --darkBackground: rgb(23, 31, 71);
    --lightText: rgb(23, 31, 71);
    --darkText: white;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}