:root {
    --primary: #028f76;
    --primary-active: #b3e099;
    --light: #ffeaad;
    --dark: #1c2130;
    --button-active: #d14334;
    --button-hover: #b41e1e;
    --card-top-light: #e0f7fa;
    --card-top-dark: #2b3245;
    --card-seperate-light: #80deea;
    --card-seperate-dark: #3b4257;
    --card-divider-light: #e0f7fa;
    --card-divider-dark: #2b3245;
    --card-bottom-light: #e0f7fa;
    --card-bottom-dark: #232938;
    --card-text-light: #e0e6ed;
    --card-text-dark: #70d7ff;
    --booking-light: #ffdab9;
    --booking-dark: #24304d;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}