
.mainPage {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap : 3rem;
    background-color: var(--light);
    color: var(--dark);
}

.mainPage.dark {
    background-color: var(--dark);
    color: var(--light);
}

