
.mainPage {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap : 3rem;
    background-color: var(--light);
    color: var(--dark);
}

.mainPage.dark {
    background-color: var(--dark);
    color: var(--light);
}

footer {
    background-color: var(--primary);
    height: 200px;
    color: white;
    bottom: 0;
    width: auto;
    z-index: 10;
}

.navBar {
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary);
    height: 60px;
    overflow: hidden;
    z-index: 10;
}

.switchMode {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;
}

.switchMode:hover {
    cursor: pointer;
}

.switchMode > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.sun {
    background-color: var(--dark);
}

.sun.dark {
    background-color: var(--light);
}

.moon {
    background-color: var(--light);
}

.moon.dark {
    background-color: var(--dark);
}

.switchMode > div > img {
    object-fit: contain;
    width: 80%;
    height: 80%;
}

.logo {
    float: left;
    display: flex;
    width: 180px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo p {
    font-size: 20px;
    transform: translateX(-10px);
}

.navBar a {
    float: left;
    font-size: 20px;
    width: 10%;
    height: 100%;
    text-decoration: none;
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar a:hover {
    color: var(--dark);
}

.navBar a.active {
    background-color: var(--primary-active);
    color: var(--dark);
}

.navBar a.login {
    float: right;
}

.background {
    position: fixed;
    z-index: 0;
}

.backgroundItem {
    width: 10rem;
    height: 10rem;
}

.backgroundItem > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}