.prev, .next {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prev {
    background-image: url("src/assets/images/previous.png");
}

.prev.dark {
    background-image: url("src/assets/images/previous-dark.png");
}

.next {
    background-image: url("src/assets/images/next.png");
}

.next.dark {
    background-image: url("src/assets/images/next-dark.png");
}