.prev, .next {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev:hover, .next:hover {
    border-bottom: 2px solid var(--dark);
}

.prev.dark:hover, .next.dark:hover {
    border-bottom: 2px solid var(--light);
}