.newsContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid var(--dark);
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.newsContainer.dark {
    border: 2px solid var(--light);
}

.news:not(:last-child) {
    border-bottom: 2px solid var(--dark);
    height: 33.33%;
}

.news.dark:not(:last-child) {
    border-bottom: 2px solid var(--light);
}

.news > div:nth-child(1) {
    width: 15%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news > div:nth-child(2) {
    position: relative;
    width: 85%;
}

.news > div:nth-child(2) > div:nth-child(1) {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    transition: filter 0.5s ease;
}

.news:hover > div:nth-child(2) > div:nth-child(1) {
    filter: brightness(0.9);
}
.news > div:nth-child(2) > div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 46%;
    left: 2%;
    font-size: 1.2rem;
    color: var(--light);
}

.news {
    flex: 1;
    display: flex;
    flex-direction: row;
    transition: flex 0.5s ease;
}

.news:hover {
    flex: 3;
}

@media screen and (max-width: 768px) {
    .newsContainer {
        height: 400px;
    }
}